<!DOCTYPE html>
<html lang="en">
<head>
    {{template "libs_head.tmpl"}}
    <title>{{.title}} | midori-go</title>
</head>
<body class="hold-transition skin-blue layout-boxed sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="/" class="logo"><span class="logo-lg">midori-<b>go</b></span></a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="messages-menu">
                        <a href="/logout"><i class="fa fa-sign-out"></i> Sign Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li {{if .menu1}} class="active" {{end}}>
                    <a href="/c/"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
                </li>
                <li {{if .menu2}} class="active" {{end}}>
                    <a href="/c/"><i class="fa fa-list"></i><span>Account List</span></a>
                </li>
                <li {{if .menu3}} class="active" {{end}}>
                    <a href="/c/"><i class="fa fa-user-plus"></i><span>Add Account</span></a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="callout callout-info">
                <h4>Tip!</h4>
                <p>Add the layout-boxed class to the body tag to get this layout. The boxed layout is helpful when
                    working on
                    large screens because it prevents the site from stretching very wide.</p>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs"><b>Version:</b> {{.version}}</div>
        <strong>Copyright &copy; 2020 <a href="https://github.com/hexvalid/midori-go">midori-go</a></strong>
    </footer>
</div>
{{template "libs_footer.tmpl"}}
</body>
</html>